---
---

@import "{{ site.theme }}";

#header_wrap {
    background: #012169;
}

#header_wrap a {
    color: white;
    text-decoration: none;
}

#header_wrap h2 {
    color: white;
}

#footer_wrap {
    background: black;
    position: fixed;
    bottom: 0;
}

#footer_wrap ul {
    background: black;
}

footer a {
    color: white;
}

footer p {
    color: white;
}

#project_title {
    color: white;
    text-shadow: none;
}

#project_tagline {
    color: white;
    text-shadow: none;
}

#nav_wrap {
    background: #f2f2f2;
    border-top: none;
    border-bottom: none;
}

#nav_wrap ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #C8102E;
}
  
#nav_wrap li {
    float: left;
}
  
#nav_wrap li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
  #nav_wrap li a:hover {
    background-color: #500612;
}

body {
    background: white;
}

#main_content_wrap {
    background: white;
    border-top: none;
    border-bottom: none;
}