---
---

@import "{{ site.theme }}";

#header_wrap {
    background: #FFE8C5;
}

#header_wrap a {
    color: #935a3f;
    text-decoration: none;
}

#footer_wrap {
    background: #FFE8C5;
    position: fixed;
    bottom: 0;
}

#footer_wrap ul {
    background: #FFE8C5;
}

footer a {
    color: #935a3f;
}

footer p {
    color: #935a3f;
}

#project_title {
    color: #935a3f;
    text-shadow: none;
}

#project_tagline {
    color: #935a3f;
    text-shadow: none;
}

#nav_wrap {
    background: #f2f2f2;
    border-top: none;
    border-bottom: none;
}

#nav_wrap ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
  
#nav_wrap li {
    float: left;
}
  
#nav_wrap li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
  /* Change the link color to #111 (black) on hover */
  #nav_wrap li a:hover {
    background-color: #111;
}

body {
    color: #935a3f;
    background: #f2f2f2;
}

#main_content_wrap {
    background: #f2f2f2;
    border-top: none;
    border-bottom: none;
}

h1, h2, h3, h4, h5, h6 {
    color: #935a3f;
}

table {
    border: 1px solid #935a3f;
}

th {
    background: #935a3f;
}
  
td {
    border: 1px solid #935a3f;
}